<h1 class="text-center">Peliculas</h1>

<table class="table table-dark">
 <thead>
 	<tr>
 		<th scope="col">Nombre</th>
 		<th scope="col">Año</th>
 		<th scope="col">Director</th>
 		<th scope="col">Productores</th>
 		<th scope="col">Episodio</th>
 	</tr>
 </thead>

 <tbody>
 	<% @movies.each do |movie| %>
 	  <tr scope="row">
 	  	<td><%= movie['title'] %></td>
 	  	<td><%= movie['release_date'] %></td>
 	  	<td><%= movie['director'] %></td>
 	  	<td><%= movie['producer'] %></td>
 	  	<td><%= movie['episode_id'] %></td>
 	  	
 	  </tr>
 	<% end %>
 </tbody>
</table>

<br>
