<p id="notice"><%= notice %></p>

<p class="text-white bg-dark">
  <strong>Title:</strong>
  <%= @film['title'] %>
</p>

<p class="text-white bg-dark">
  <strong>Release Date:</strong>
  <%= @film['release_date'] %>
</p>

<p class="text-white bg-dark">
  <strong>Director:</strong>
  <%= @film['director'] %>
</p>

<p class="text-white bg-dark">
  <strong>Producer:</strong>
  <%= @film['producer'] %>
</p>

<p class="text-white bg-dark">
  <strong>Episode:</strong>
  <%= @film['episode_id'] %>
</p>

<p class="text-white bg-dark">
  <strong>Opening Crawl:</strong>
  <%= @film['opening_crawl'] %>
</p>



<table class="table table-dark" id="table1">
 <thead>
  <tr>
    <th scope="col">Characters</th>
  </tr>
 </thead>

 <tbody>
  <% @characters.each do |cha| %>
    <tr scope="row">
      <td><li><%= link_to cha , character_url(@cha_id) %></li></td>
      
    </tr>
  <% end %>
 </tbody>
</table>



<table class="table table-dark" id="table1">
 <thead>
  <tr>
    <th scope="col">StarShips</th>
  </tr>
 </thead>

 <tbody>
  <% @starships.each do |star| %>
    <tr scope="row">
      <td><li><%= link_to star , starship_url(@star_id) %></li></td>
      
    </tr>
  <% end %>
 </tbody>
</table>


<table class="table table-dark" id="table1">
 <thead>
  <tr>
    <th scope="col">Planets</th>
  </tr>
 </thead>

 <tbody>
  <% @planets.each do |planet| %>
    <tr scope="row">
      <td><li><%= link_to planet , planet_url(@planet_id) %></li></td>
      
    </tr>
  <% end %>
 </tbody>
</table>


<p class="text-white bg-dark">
<%= link_to 'Back', films_path %>
</p>
